
.bd-navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
}
.bd-content{
    order: 1;
}
.bd-content img{
    max-width: 100%;
}
.bd-toc{
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    order: 2;
}