{%  macro article(post) %}
<div >
    <h2>{{ post.title }}</h2>
    <small>{{ post.publish_date }}</small>
    <p>{{ post.text | safe }}</p>
    <p><a class="uk-button uk-button-text" href="{{ url_for('.post',post_id=post.id) }}">查看</a></p>
</div >
{% endmacro %}

{%  macro articleList(posts) %}
    {% for post in posts %}
        {{ articleItem(post) }}
    {% endfor %}
{% endmacro %}

{%  macro articleItem(post) %}
<div >
    <h2>{{ post.title }}</h2>
    <small>{{ post.publish_date }}</small>
    <p>{{ post.text | safe | truncate(200)}}</p>
    <p><a class="uk-button uk-button-text" href="{{ url_for('.post',post_id=post.id) }}">查看</a></p>
</div >
{% endmacro %}