<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/public.css">
</head>
<body>
<header class="navbar navbar-dark bg-dark navbar-expand-lg bd-navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('blog.home') }}">青风藤</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blog.home') }}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blog.list',order='publish_date',type='all',count=10,page=1) }}">列表</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        发布
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('blog.new',type='article') }}">文章</a>
                        <a class="dropdown-item" href="{{ url_for('blog.new',type='photo') }}">图片</a>
                        <a class="dropdown-item" href="{{ url_for('blog.new',type='video') }}">视频</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{{ url_for('blog.search') }}" method="POST">
                {{ g.search_form.hidden_tag() }}
                {{ g.search_form.keyword(class="form-control mr-sm-2") }}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>

            {% if g.is_login %}
                <ul class="navbar-nav ml-3">
                    <li class="nav-item dropdown">
                        <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ current_user.nickname or current_user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('main.user_setting') }}">设置</a>

                            {% if g.is_login %}
                                <a class="dropdown-item" href="{{ url_for('main.logout') }}">注销</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ url_for('main.login') }}">登陆</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-3">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.login') }}">登陆</a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </div>
</header>

<div class="container">
    <div class="row flex-xl-nowrap">
        <div class=" d-xl-block col-12 col-xl-3 bd-toc py-md-2">
            {# {% if g.is_login %}
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <img src="{{ current_user.head }}" class="rounded" width="60px" height="60px">
                            <div class="pl-2">
                                <div>{{ current_user.nickname }}水岸东方
                                    <small>{{ current_user.username }}</small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="btn btn-primary btn-sm mt-2">设置</a>
                            <a href="#" class="btn btn-light btn-sm mt-2">注销</a>
                        </div>
                    </div>
                </div>
            {% endif %}#}

            <div class="widget">
                <h4 class="title">标签</h4>
                <div class="content tag-cloud">
                    {% for tag in g.tags %}
                        <a class="btn btn-outline-info btn-sm m-1"  href="{{ url_for('blog.tag',id=tag.id) }}">{{ tag.title[:35] }}</a>
                    {% endfor %}
                </div>
            </div>


        </div>

        <main class="bd-content col-12 col-md-12 col-xl-9 py-md-3 ">
            {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category,message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block body %}
            {% endblock %}
        </main>

    </div>
</div>
{% block js %}
{% endblock %}
</body>
</html>