{% extends "blog/edit_base.html" %}

{% block content %}
    <div class="form-group">
        {{ form.text.label() }}
        {{ form.text(id='editor',class="form-control",rows=5) }}
        {% if form.text.errors %}
            {% for e in form.text.errors %}
                <small class="form-text text-muted">{{ e }}</small>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#editor'))
    </script>
{% endblock %}