{% import 'article.html' as article %}
{% extends "blog/base.html" %}
{% block title %}发表评论{% endblock %}
{% block body %}
     <div >
        {{ article.article(post) }}
        <hr >
        <h3>发表评论:</h3>
        <form method="POST" action="{{ url_for('.post',post_id=post.id) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label() }}
                {{ form.name(class="form-control") }}
                {% if form.name.errors %}
                    {% for e in form.name.errors %}
                        <small  class="form-text text-muted">{{ e }}</small >
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.text.label() }}
                {{ form.text(class="form-control") }}
                {% if form.text.errors %}
                    {% for e in form.text.errors %}
                        <small  class="form-text text-muted">{{ e }}</small >
                    {% endfor %}
                {% endif %}
            </div>

            <input class="btn btn-primary" type="submit" value="评论">
        </form>
        <hr >
        {% for item in comments %}
                <div class="well">
                    <div>{{ item.name }} {{ item.date.strftime('%Y-%m-%d %H:%M:%S') }}</div>
                    <div>{{ item.text }}</div>
                </div>
        {% endfor %}
    </div>
{% endblock %}


