{% extends "base.html" %}
{% block title %}注册{% endblock %}
{% block body %}
<form method="POST" action="{{ url_for('.register') }}" >
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label() }}
        {{ form.username(class="form-control") }}
        {% if form.username.errors %}
            {% for e in form.username.errors %}
                <small class="form-text text-muted">{{ e }}</small>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.password.label() }}
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
            {% for e in form.password.errors %}
                <small class="form-text text-muted">{{ e }}</small>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.confirm.label() }}
        {{ form.confirm(class="form-control") }}
        {% if form.confirm.errors %}
            {% for e in form.confirm.errors %}
                <small class="form-text text-muted">{{ e }}</small>
            {% endfor %}
        {% endif %}
    </div>

    <input class="btn btn-primary" type="submit" value="注册">
    <div>
        已有账号<a href="{{ url_for('.login') }}">?去登录</a>
    </div>
</form>

{% endblock %}